<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {{ page.title }}
    {% if page.category == 'blog' and page.url != '/blog/index.html' %}
    - skyhills blog
    {% endif %}
  </title>
  <link rel="stylesheet" href="/css/site.css">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    {% if page.description %}<meta name="description" content="{{page.description}}" />{% endif %}
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for skyhills blog" href="/feed.xml" />
    <script src="/js/instantclick.min.js" data-no-instant></script>
  <script data-no-instant>InstantClick.init();</script>
    {{ page.extra_head }}
</head>
