<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    {% include header.html %}
  <div class="top-bar"></div>

  <div class="container">
    <div class="site">
      <header>
        <nav>
          <a class="{% if page.category == '/' %} selected {% endif %}" href="/">홈</a>
          <a class="{% if page.category == 'archive' %} selected {% endif %}" href="/archive/">전체글</a>
          <a class="{% if page.category == 'trans' %} selected {% endif %}" href="//github.com/nolboo/nolboo.github.io/wiki">번역글 위키</a>
        </nav>
        <div class="pull-right right logo">
          <div class="name">
            <a href="/">skyhills Blog</a><br />
            <small>
              <em>
                  <a href="/">to be a better person</a>
              </em>
            </small>
          </div>
          <a href="/feed.xml"><img class="avatar" src="/images/rss.jpg" alt="RSS" /></a>
        </div>
        <div class="clear"></div>
      </header>
      <div class="separator"></div>
      {{ content }}
      <div class="separator"></div>
    </div>
  </div>

  <div class="clear"></div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <!-- tag, category search -->
  <script src="/js/alexpearce.js"></script>
  <!-- TOC Generator -->
  <script src="/js/jquery.toc-1.1.4.min.js"></script>
  <!-- TOC Generator -->
  <script>
     $('#toc').toc({exclude: 'h1, h6', autoId: true});
  </script>
  </body>
</html>
